@font-face {
    font-family: 'kyivtype-bold';
    src: url('/fonts/KyivTypeSans-Bold.ttf');
}

@font-face {
    font-family: 'kyivtype-regular';
    src: url('/fonts/KyivTypeSans-Regular.ttf');
}

body {
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh ;
    justify-content: center;
    background: url("https://images.unsplash.com/photo-1547311210-d2354a11538f?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80");
    background-repeat: repeat-y;
    background-size: cover;
    text-size-adjust: auto;
    size-adjust: auto;
    overflow: hidden;
}


h2 {
    text-transform: uppercase;
    letter-spacing: 2px;
    text-align: center;
    font-size: 24px;
    font-family: kyivtype-bold,  sans-serif;
    color: #fff;
    text-shadow: 2px 2px rgba(23, 32, 41, 0.5) ;
}

.clock {
    display: flex;
    font-family: kyivtype-regular,  sans-serif;
}

.clock div {
    margin: 8px;
    position: relative;
}

.clock span {
    width: 140px;
    height: 120px;
    background-color: #394f67;
    opacity: .75;
    color: #fff;
    display: flex;
    box-shadow: 0px 4px 4px  rgba(23, 32, 41, 0.25);
    justify-content: center;
    align-items: center;
    font-size: 50px;
}

.clock .text {
    height: 30px ;
    font-size: 20px;
    text-transform: lowercase;
}

.clock #ampm {
    bottom: 0;
    position: absolute;
    height: 65px;
    width: 100px;
    font-size: 40px;
    opacity: .7;
}